.contact-container Row {
  padding: 0;
  margin: 0;
}

.contact-form {
  background-color: var(--secondary-color);
}

.contact-map iframe {
  padding: 0;
  height: 100%;
  width: 100%;
}

.contact-container h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  height: 150px;
}

.contact-container Button {
  padding: 10px 20px;
  background: var(--heading-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}

.contact-container Button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 576px) {
  .contact-container {
    padding: 20px 0;
  }

  .contact-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
